<div class="container-body">
  <div class="error-messages">
    <% @timesheet.errors.each do |attr, msg| %>
      <li>
        - <%= @timesheet.errors.full_messages_for(attr).first if @timesheet.errors[attr].first == msg %>
      </li>
    <% end %>
  </div>
  <h1>Create Timesheet Entry</h1>
  <%= simple_form_for(@timesheet) do |f| %>
    <p>
    <%= f.label :date, "Date: ", class: 'timesheet-date' %>
    <%= f.date_select(:date) %>
    </p>
    <p>
    <%= f.label :start_time, "Start Time: ", class: 'finish_time' %>
    <%= f.time_select(:start_time) %>
    </p>
    <p>
    <%= f.label :finish_time, "Finish Time: ", class: 'finish_time' %>
    <%= f.time_select(:finish_time) %>
    </p>
    <%= f.button :submit, "Create" , class: 'button-create-large'%>
  <% end %>
</div>



