<h2>New Timesheet Entry</h2>
<%= form_for(@timesheet) do |f| %>
  <p>
  <%= f.label :date, "Date: " %>
  <%= f.date_select(:date,) %>
  </p>
  <p>
  <%= f.label :start_time, "Start Time" %>
  <%= f.time_select(:start_time) %>
  </p>
  <p>
  <%= f.label :finish_time, "Finish Time" %>
  <%= f.time_select(:finish_time) %>
  </p>
  <%= f.submit %>
<% end %>






<!-- <div class="container text-center">
    <h2>New Timesheet Entry</h2>

    <form action="/timesheets" method="post">
      <label>Date: </label>
      <input type="date" name="timesheet[date]" >
      <br>
      <label>Start Time: </label>
      <input type="time" name="timesheet[start_time]">
      <br>
      <label>Finish Time: </label>
      <input type="time" name="timesheet[finish_time]">
      <input type="submit"/>
    </form>
</div>
 -->
